.searchbar {
    text-align: center;
}

.search-title {
    margin-right: 0.5em;
}
.searchbar-input {
    height: 30px;
    width: 400px;
}

.search-button {
    margin-left: 0.5em;
    background-color:cornflowerblue;
}