.iframe {
  margin-left: 2em;
}

.main-title {
  margin-top: 1em;
}

.comments {
  margin-left: 10em;
  margin-top: 2em;
}

.related {
  margin-left: 10em;
  margin-top: 2em;
}

.addcomment {
  margin-left: 10em;
  margin-top: 2em;
}